# Node modules
node_modules/

# Logs
logs
*.log
npm-debug.log*

# Runtime data
pids
*.pid
*.seed
*.pid.lock

# dotenv config
.env

# OS/System files
.DS_Store
Thumbs.db

# IDEs
.vscode/
.idea/

# For pm2
.pids/